


  .events__list-item h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #01d1d1;
  }
  
  .events__list-item h2 {
      margin: 0;
      font-size: 1rem;
      color: #01d1d1;
  }
  
  .events__list-item p {
      margin: 0;
  }


  

   .events__list-item {
    margin: 1rem 2rem 0 0;
    padding: 1rem;
    border: 1px solid #01d1d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Make each item a stacking context */
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 0; /* Default z-index for items */
  }
  
  .events__list-item:hover {
    transform: scale(1.03);
    z-index: 1; /* Bring the hovered item to the front */
  }