.modal {
    width: 90%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0.26);
    position: fixed;
    border-radius: 30px;
    top: 16vh;
    left:17%;
    z-index: 100;
}

.modal__header{
    padding:1rem;
    background-color:  #1FB6DA;
    border-radius: 10px;
    color: black;
    /* color:black; */
}

.modal__header h1{
  margin:0;
  font-size:1.25rem;
}
.modal__content {
padding:1rem;
}

.modal__actions{
    display:flex;
    justify-content:flex-end; 
    margin-bottom: 10px;
}
.btn{
  background-color: #1FB6DA;
}

@media (min-width :768px)
{
    .modal{
        width:50rem;
        left :calc((100%-50rem)/2);
    }
}
