.event__list {
    display: block;
    margin-top: 2rem;
    width: 40rem;
    max-width: 90%;
    margin: auto;
    list-style: none;
    padding: 0;
    position: relative; /* Make the list a stacking context */
    z-index: 0; /* Default z-index for list items */
  }